.toolbar {
	background: #5d5d8a;
	box-shadow: 0rem 0.6rem 0.5rem -0.2rem rgba(225, 225, 225, 0.7);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12vh;
	max-height: 6.5rem;
	padding: 1.8rem 1.6rem;
}
