@import "../../../../../sass/abstracts/theme";

/* message input */
.messageInput {
  @include themify($themes) {
    background: themed('messageInputBgColor');
    color: themed('messageInputColor');
  }
	height: 10vh;
	max-height: 6.5rem;

  .messageForm {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .formControl {
      padding-top: 2.4rem;
      padding-bottom: 2.4rem;
      resize: none;
      padding-left: 1.5rem;
      box-sizing: border-box;
      width: 80%;
      height: 100%;
      border: none;

      // &::-webkit-scrollbar-track {
      //   -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
      //   background-color: #cac8ee;
      // }

      // &::-webkit-scrollbar {
      //   width: 0.5rem;
      //   background-color: green;
      // }

      // &::-webkit-scrollbar-thumb {
      //   background-color: #484d79;
      // }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .sendBtn {
      width: 20%;
      box-sizing: border-box;
      font-size: 1.25em;
      text-align: center;
      border: none;
      height: 100%;
      @include themify($themes) {
        background: themed('messageInputSendBtnBgColor');
        color: themed('messageInputSendBtnColor');
      }
      transition: all .35s ease-out;


    :disabled {
      opacity: .2;
      @include themify($themes) {
        background: themed('messageInputSendBtnDisabledBgColor');
      }
    }
    }
  }
}
/* END message input */
